{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>
<body>
    <div class="back">
      <h1 class="center">File Encryption/Decryption</h1>
        <div class="container">

            <div style="text-align: center">
            <!-- <img src="../media/banana_split_oatmeal.jpg" style="display: inline-block"class="image" /> -->
        </div>
            <div class="inner">
              {% block body %}
              {% endblock %}
            </div>
        </div><br><br><br>
        <div class="About">
          <br><br>
          <h1 class="center" style="color:#000000;font-size:50px;font-family:Sofia;">About Us</h1>
          <span style="color:#000000;font-size:27px;font-family:Sofia;"> We as a team Merakai provide you the encryption based on Triple-DES algorithm which is more secure towards ddos attacks.You can now securely encrypt you files and share them.</span>
          <br><br>
      </div>
        <div class="About">
          <br><br>
          <h1 class="center" style="color:#000000;font-size:50px;font-family:Sofia;">Contact us</h1>
          <a class="center" style="color:#000000;font-size:25px;font-family:Sofia;">Team: Merakai</a><br>
          <a class="center" style="color:#000000;font-size:25px;font-family:Sofia;">Members: Ravneet, Jaiwant, Shubhneet, Aman</a><br>
          <a class="center" style="color:#000000;font-size:25px;font-family:Sofia;">Email : jmahun_be18@thapar.edu</a>
          <br><br>
        </div>
    </div>
</body>
</html>
